body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.login-box{
background:white;
padding:20px;
width:300px;
margin:100px auto;
border-radius:10px;
}

input{
display:block;
width:100%;
margin:10px 0;
padding:10px;
}

button{
padding:10px;
margin:10px;
cursor:pointer;
}